# ** Outputs from .tex documents **
*.pdf
*.aux
*.out
*.log
*.nav
*.snm
*.toc
*.odg

# **************************************************
# ************Put Files Generated during************
# ************Compilation of thr program************
# *********************here*************************
# **************************************************


Presentation/Videos/